/* Reset Password Container Styles */
.reset-password-container {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 80px 40px; /* Increased padding for a bigger container */
    max-width: 400px; /* Increased max-width */
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reset-password-container h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #242424;
}

.reset-password-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reset-password-container label {
    font-size: 1rem;
    color: #333;
    text-align: left;
}

.reset-password-container input {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s ease;
}

.reset-password-container input:focus {
    border-color: #ff5e5b;
}

.reset-password-container button {
    background: black;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.reset-password-container button:hover {
    background: #292929;
    color: #ddd;
}

.reset-password-container p {
    font-size: 0.9rem;
    color: #555;
    margin-top: 20px;
}

.reset-password-container a {
    color: #ff5e5b;
    text-decoration: none;
    font-weight: bold;
}

.reset-password-container a:hover {
    color: #d14542;
    text-decoration: underline;
}